### Create option_data.csv file

In [10]:
#Import the necessary packages 
import numpy as np
import pandas as pd
from scipy.stats import norm
import matplotlib.pyplot as plt
import matplotlib as mpl  
%matplotlib inline
import datetime

In [11]:
#Download ABB options data
raw = pd.read_csv('ABB.csv',sep=';', index_col=0, parse_dates=True)
raw.info()
raw

<class 'pandas.core.frame.DataFrame'>
Index: 167 entries, ABB0J29Y205 to ABB1L350
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Exp.          167 non-null    object
 1   Bid           159 non-null    float64
 2   Ask           167 non-null    float64
 3   Last          7 non-null      float64
 4   High          7 non-null      float64
 5   Low           7 non-null      float64
 6   Openinterest  52 non-null     object
 7   Volume        7 non-null      float64
 8   Underlying    167 non-null    float64
 9   Strike        167 non-null    float64
dtypes: float64(8), object(2)
memory usage: 14.4+ KB

,Exp.,Bid,Ask,Last,High,Low,Openinterest,Volume,Underlying,Strike
Name,,,,,,,,,,
ABB0J29Y205,2020-10-29,20.25,22.75,NaN,NaN,NaN,NaN,NaN,100.0,205.0
ABB0J29Y210,2020-10-29,15.25,17.50,NaN,NaN,NaN,NaN,NaN,100.0,210.0
ABB0J29Y215,2020-10-29,10.50,12.50,NaN,NaN,NaN,NaN,NaN,100.0,215.0
ABB0J29Y220,2020-10-29,6.40,7.50,NaN,NaN,NaN,NaN,NaN,100.0,220.0
ABB0J29Y225,2020-10-29,2.55,3.55,NaN,NaN,NaN,NaN,NaN,100.0,225.0
...,...,...,...,...,...,...,...,...,...,...
ABB1L250,2021-12-17,9.30,11.00,NaN,NaN,NaN,35,NaN,100.0,250.0
ABB1L270,2021-12-17,4.50,6.00,NaN,NaN,NaN,NaN,NaN,100.0,270.0
ABB1L290,2021-12-17,1.85,3.05,NaN,NaN,NaN,NaN,NaN,100.0,290.0
ABB1L310,2021-12-17,0.50,1.70,NaN,NaN,NaN,NaN,NaN,100.0,310.0
ABB1L350,2021-12-17,0.01,0.85,NaN,NaN,NaN,60,NaN,100.0,350.0

In [12]:
#Rename Exp. as Maturity, short Date of expiration
raw.rename(columns={'Exp.':'Maturity'}, inplace=True)
raw

,Maturity,Bid,Ask,Last,High,Low,Openinterest,Volume,Underlying,Strike
Name,,,,,,,,,,
ABB0J29Y205,2020-10-29,20.25,22.75,NaN,NaN,NaN,NaN,NaN,100.0,205.0
ABB0J29Y210,2020-10-29,15.25,17.50,NaN,NaN,NaN,NaN,NaN,100.0,210.0
ABB0J29Y215,2020-10-29,10.50,12.50,NaN,NaN,NaN,NaN,NaN,100.0,215.0
ABB0J29Y220,2020-10-29,6.40,7.50,NaN,NaN,NaN,NaN,NaN,100.0,220.0
ABB0J29Y225,2020-10-29,2.55,3.55,NaN,NaN,NaN,NaN,NaN,100.0,225.0
...,...,...,...,...,...,...,...,...,...,...
ABB1L250,2021-12-17,9.30,11.00,NaN,NaN,NaN,35,NaN,100.0,250.0
ABB1L270,2021-12-17,4.50,6.00,NaN,NaN,NaN,NaN,NaN,100.0,270.0
ABB1L290,2021-12-17,1.85,3.05,NaN,NaN,NaN,NaN,NaN,100.0,290.0
ABB1L310,2021-12-17,0.50,1.70,NaN,NaN,NaN,NaN,NaN,100.0,310.0
ABB1L350,2021-12-17,0.01,0.85,NaN,NaN,NaN,60,NaN,100.0,350.0

In [13]:
#Create a copy so we do not have to reload the data set if we start over
data = raw.copy()
data

,Maturity,Bid,Ask,Last,High,Low,Openinterest,Volume,Underlying,Strike
Name,,,,,,,,,,
ABB0J29Y205,2020-10-29,20.25,22.75,NaN,NaN,NaN,NaN,NaN,100.0,205.0
ABB0J29Y210,2020-10-29,15.25,17.50,NaN,NaN,NaN,NaN,NaN,100.0,210.0
ABB0J29Y215,2020-10-29,10.50,12.50,NaN,NaN,NaN,NaN,NaN,100.0,215.0
ABB0J29Y220,2020-10-29,6.40,7.50,NaN,NaN,NaN,NaN,NaN,100.0,220.0
ABB0J29Y225,2020-10-29,2.55,3.55,NaN,NaN,NaN,NaN,NaN,100.0,225.0
...,...,...,...,...,...,...,...,...,...,...
ABB1L250,2021-12-17,9.30,11.00,NaN,NaN,NaN,35,NaN,100.0,250.0
ABB1L270,2021-12-17,4.50,6.00,NaN,NaN,NaN,NaN,NaN,100.0,270.0
ABB1L290,2021-12-17,1.85,3.05,NaN,NaN,NaN,NaN,NaN,100.0,290.0
ABB1L310,2021-12-17,0.50,1.70,NaN,NaN,NaN,NaN,NaN,100.0,310.0
ABB1L350,2021-12-17,0.01,0.85,NaN,NaN,NaN,60,NaN,100.0,350.0

In [14]:
#Drop the column 'Underlying' since it only says how many stocks that an option contract is based on
data.drop(['Underlying'], axis = 1, inplace=True)

#Drop all rows where NA exists in the Date, Bid, Ask or Strike columns
data.dropna(subset=['Bid'], how='all', inplace=True)
data.dropna(subset=['Ask'], how='all', inplace=True)
data.dropna(subset=['Strike'], how='all', inplace=True)

#Drop any column that still has NAs
data.dropna(axis=1, how='any', inplace=True)
data

               Maturity    Bid    Ask  Strike
Name
ABB0J29Y205  2020-10-29  20.25  22.75   205.0
ABB0J29Y210  2020-10-29  15.25  17.50   210.0
ABB0J29Y215  2020-10-29  10.50  12.50   215.0
ABB0J29Y220  2020-10-29   6.40   7.50   220.0
ABB0J29Y225  2020-10-29   2.55   3.55   225.0
...                 ...    ...    ...     ...
ABB1L250     2021-12-17   9.30  11.00   250.0
ABB1L270     2021-12-17   4.50   6.00   270.0
ABB1L290     2021-12-17   1.85   3.05   290.0
ABB1L310     2021-12-17   0.50   1.70   310.0
ABB1L350     2021-12-17   0.01   0.85   350.0

[159 rows x 4 columns]

In [15]:
#Create a column with the market call option price from Bid and Ask column
data['Call'] = (data['Bid'] + data['Ask']) / 2

#Drop Bid and Ask column as we do not need them anymore
data.drop(['Bid'], axis = 1, inplace=True)
data.drop(['Ask'], axis = 1, inplace=True)
data

               Maturity  Strike    Call
Name
ABB0J29Y205  2020-10-29   205.0  21.500
ABB0J29Y210  2020-10-29   210.0  16.375
ABB0J29Y215  2020-10-29   215.0  11.500
ABB0J29Y220  2020-10-29   220.0   6.950
ABB0J29Y225  2020-10-29   225.0   3.050
...                 ...     ...     ...
ABB1L250     2021-12-17   250.0  10.150
ABB1L270     2021-12-17   270.0   5.250
ABB1L290     2021-12-17   290.0   2.450
ABB1L310     2021-12-17   310.0   1.100
ABB1L350     2021-12-17   350.0   0.430

[159 rows x 3 columns]

In [16]:
#Convert Maturity variable from string to datetime variable. 
data['Maturity']= pd.to_datetime(data['Maturity'], format='%Y-%m-%d') 

#Create a datetime variable, Date, 
data['Date'] = pd.to_datetime('2020/10/26', format='%Y-%m-%d') #2020/10/26 is the day I downloaded the data
data

              Maturity  Strike    Call       Date
Name
ABB0J29Y205 2020-10-29   205.0  21.500 2020-10-26
ABB0J29Y210 2020-10-29   210.0  16.375 2020-10-26
ABB0J29Y215 2020-10-29   215.0  11.500 2020-10-26
ABB0J29Y220 2020-10-29   220.0   6.950 2020-10-26
ABB0J29Y225 2020-10-29   225.0   3.050 2020-10-26
...                ...     ...     ...        ...
ABB1L250    2021-12-17   250.0  10.150 2020-10-26
ABB1L270    2021-12-17   270.0   5.250 2020-10-26
ABB1L290    2021-12-17   290.0   2.450 2020-10-26
ABB1L310    2021-12-17   310.0   1.100 2020-10-26
ABB1L350    2021-12-17   350.0   0.430 2020-10-26

[159 rows x 4 columns]

In [17]:
data.to_csv(r'C:\Users\1\Downloads\A_Python_in_financial_engineering\Project\option_data.csv', index = False)